extends layout

block content
  form(method="post", action="/words")
    div
      h5 伝えたい言葉を入力してください
      textarea(name="wordName")
    div
      h5 誰に送る？
      input(type="text" name="partnerName")
    button(type="submit") 言葉を創る